<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

{{> navbar}}

{{!-- {{name}} --}}
{{!-- {{}} --}}
{{!-- {{name}} --}}
<div class="container m-5" id="details">
  <span class="mt-5 text-danger display-4">Hi {{fname}} {{lname}} </span> <span class="display-6 text-warning">, you have registered for the following services successfully :</span>
  {{#each services}}
  <li><span class="display-6 text-warning"> {{this}} </span></li>
  {{/each}}
  <p class="display-6 text-warning">The total cost to be paid is {{totalCost}}</p>
  {{!-- Hi {{> user.fname}}, you have opted --}}
  {{!-- <span class="text-danger">Full Name: </span> <span>{{> user[0].fname}}</span> --}}
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{{> footer}}